[tool]
[tool.poetry]
name = "pydbtools"
version = "5.1.0"
description = "A python package to query data via amazon athena and bring it into a pandas df using aws-wrangler."
license = "MIT"
authors = ["Karik Isichei <karik.isichei@digital.justice.gov.uk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10" # wrangler dependency
boto3 = ">=1.7.4"
sqlparse = "^0.4.1"
awswrangler = "^2.12.0"
pyarrow = ">=5.0.0"
Jinja2 = ""
sql-metadata = "^2.3.0"

[tool.poetry.dev-dependencies]
pytest = ">=6.1"
toml = ""

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
