[tool]
[tool.poetry]
name = "pydbtools"
version = "2.0.0"
description = "A python package to query data via amazon athena and bring it into a pandas df"
license = "MIT"
authors = ["Karik Isichei <karik.isichei@digital.justice.gov.uk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.5"
boto3 = ">=1.7.4"
gluejobutils = ">=v1.0.0"
numpy = ">=1.16.1"
pandas = ">=0.23.4"
s3fs = ">=0.2.2"
